.body{
    background-color:#3A4965;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.table{
    width: 1143px;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
                                                
}
.table tr:nth-child(2){
    background-color:#FAFAFA;
}
.table tr:nth-child(3){
    background-color:#F2F2F2 ; }
    .table tr:nth-child(4){
        background-color:#E3E3E3 ;
    }
    .table tr:nth-child(5){
        background-color:#F2F2F2 ;
    }
    .table tr:nth-child(6){
        background-color: #E3E3E3;
    }
    .table tr:nth-child(7){
        background-color: #F2F2F2;
    }
    .table tr:nth-child(8){
        background-color: #E3E3E3;
    }
    .entartainment, .btn-2, .btn-1, .btn-3{
        background-color:#FAFAFA ;
    }
.entartainment p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
}
.entartainment h1{
    margin-top: 0;
}
.table td, p, h1, button{
    text-transform: uppercase;
    text-align: center;
    color:#484848 ;
    font-size: 16px;
}
.table td{
    box-shadow: 0px 0px 5px 0px #00000045;
min-height: 68px;
width: 280px;
}
.table .standart{
    height: 68px;
    font-size: 24px;
    color:#FFFFFF;
    background-color: #89C331;
}
.table .ultimate{
    font-size: 30px;
    color:#FFFFFF;
    background-color:#F04A56 ;
}
.table .premium{
    font-size: 24px;
    color: #FFFFFF;
    background-color: #20807C;
}
.table p{
    font-size: 18px;
}
.table h1{
    font-size: 30px;
}
table .standart-price, .ultimate-price, .premium-price{
    padding-top: 10px;
    padding-bottom: 0;
}
.standart-price p::after,
.ultimate-price p::after,
.premium-price p::after {
    content: '.99';
    font-size: 24px;
    position: absolute;
}

.standart-price p::before,
.ultimate-price p::before,
.premium-price p::before {
    content: 'per month';
    top: 23px;
    left: 145px;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
}

.standart-price p {
    text-align: start;
    margin-top: 0;
    padding-left: 40px;
    position: relative;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 0%;
    font-weight: 700;
}
.ultimate-price p {
    text-align: start;
    margin-top: 0;
    padding-left: 40px;
    position: relative;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 0%;
    font-weight: 700;
}

 .premium-price p{
text-align: start;
    padding-left: 40px;
    position: relative;
    font-size:60px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}
.storage p, .bandwidth p, .email p, .support p, .products p, .users p {
    position: relative;
}
.storage p::before{
    position: absolute;
    left: 73px;
    top:-4px;
content: '';
background-image: url(/images/n.svg);
width: 24px;
height: 21px;
}
.bandwidth p::before{
    position: absolute;
    left: 56px;
    top:-3px;
content: '';
background-image: url(/images/n2.svg);
width: 27px;
height: 19px;
}
.email p::before{
    position: absolute;
    left: 83px;
    top:-3px;
content: '';
background-image: url(/images/n3.svg);
width: 24px;
height: 20px;
}
.support p::before{
    position: absolute;
    left: 73px;
    top:-7px;
content: '';
background-image: url(/images/n4.svg);
width: 25px;
height: 25px;
}
.products p::before{
    position: absolute;
    left: 68px;
    top:-3px;
content: '';
background-image: url(/images/n5.svg);
width: 23px;
height: 23px;
}
.users p::before{
    position: absolute;
    left: 81px;
    top:-8px;
content: '';
background-image: url(/images/n6.svg);
width: 26px;
height: 25px;
}
.contact-us, .btn-1, .btn-2, .btn-3{
    height: 100px;
    font-weight: 700;
}
.contact-us{
    background-color:#E3E3E3 ;
}
.contact-us button{
    background: linear-gradient(to bottom,  #484848 80%, #404040 20%);
    font-size: 16px;
    color: #FFFFFF;
    width:192px ;
    height: 52px;
    border-radius: 6px;
border:#484848 ;
font-weight: 700;
}
.btn-1 button{
    background: linear-gradient(to bottom,  #89C331 80%, #79B027 20%);
    font-size: 16px;
    color: #FFFFFF;
    width:192px ;
    height: 52px;
    border-radius: 6px;
border:#89C331 ;
font-weight: 700;
}
.btn-2 button{
    background: linear-gradient(to bottom,  #F04A56 80%, #DF3A46 20%);
    font-size: 16px;
    color: #FFFFFF;
    width:192px ;
    height: 52px;
    border-radius: 6px;
border:#F04A56 ;
font-weight: 700;
}
.btn-3 button{
height: 100px;
    background: linear-gradient(to bottom,  #20807C 80%, #16736F 20%);
    font-size: 16px;
    color: #FFFFFF;
    width:192px ;
    height: 52px;
    border-radius: 6px;
border:#20807C ;
font-weight: 700;
}
