.body{
    background-color:#3A4965;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.table{

    width: 1143px;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    height: 660px;
}
.table .entartainment, .entartainment p, .entartainment h1{
    background-color: #F2F2F2;
}
.table .entartainment p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
}
.entartainment h1{
    margin-top: 0;
    font-size: 20px;
}
.table td, p, h1, button{
    text-transform: uppercase;
    text-align: center;
    color:#484848 ;
    font-size: 16px;
    background-color: aliceblue;
}
.table p{
    width: 98%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.table td{
    box-shadow: 0px 0px 5px 0px #00000045;
}
.storage p, .bandwidth p, .email p, .support p, .products p, .users p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.storage p, .bandwidth p, .email p, .support p, .products p, .users p {
    position: relative;
    top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.storage p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n.svg);
width: 24px;
height: 21px;
}
.bandwidth p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n2.svg);
width: 27px;
height: 19px;
}
.email p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n3.svg);
width: 24px;
height: 20px;
}
.support p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n4.svg);
width: 25px;
height: 25px;
}
.products p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n5.svg);
width: 23px;
height: 23px;
}
.users p::before{
    position: absolute;
    top: -30px;
content: '';
background-image: url(/images/n6.svg);
width: 26px;
height: 25px;
}
.table .standart{
    background-color: #89C331; 
    position: relative;
    width: 198px;
}
table .standart h2, span{
    color: #FFFFFF;
}
.standart h2, .premium h2, .ultimate h2{
    font-size: 24px;
    color:#FFFFFF; 
    margin-bottom: 0%;
}
.first-span{
    font-size: 36px;
    position: relative;
}
.table .ultimate{
    background-color:#F04A56 ;
}
table .premium{
background-color: #20807C;
}
button{
    margin-top: 10px;
    width: 80%;
    font-weight: 700;
    color: #FFFFFF; 
}
.first-span::after{
    font-size: 18px;
content: '99';
position: absolute;
}
.sec-span{
    position: relative;
    margin-left: 21px;
    top: -8px;
    font-size: 14px;
}
.storage , .bandwidth , .email , .support , .products , .users  {
    width: 158px;
    height: 115px;
}
.spacer-row{
    height: 13px;
}
.btn-1 {
    background: linear-gradient(to bottom,  #484848 80%, #404040 20%);
    font-size: 16px;
    color: #FFFFFF;
    height: 52px;
    border-radius: 6px;
border:#484848 ;
}
.btn-2 
{
    background: linear-gradient(to bottom,  #484848 80%, #404040 20%);
    font-size: 16px;
    color: #FFFFFF;
    height: 52px;
    border-radius: 6px;
    border: #484848 ;
}
.btn-3 
{
height: 100px;
background: linear-gradient(to bottom,  #484848 80%, #404040 20%);
    font-size: 16px;
    color: #FFFFFF;
    height: 52px;
    border-radius: 6px;
border:#484848 ;
}
.table td:nth-child(2),.table td:nth-child(2) p{
background-color: #E3E3E3;
;
}
.table td:nth-child(3),.table td:nth-child(3) p{
    background-color: #F2F2F2;
    ;
    }
    .table td:nth-child(4),.table td:nth-child(4) p{
        background-color: #E3E3E3;
        ;
        }
        .table td:nth-child(5),.table td:nth-child(5) p{
            background-color: #F2F2F2;
            ;
            }
            .table td:nth-child(6),.table td:nth-child(6) p{
                background-color: #E3E3E3;
                ;
                }
                .table td:nth-child(7),.table td:nth-child(7) p{
                    background-color: #F2F2F2;
                    ;
                    }
